@model IEnumerable<jcamacho_bugtracker.Models.TicketHistory>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>History of Changes for @Html.DisplayNameFor(model => model.Ticket.Title)</h2>


<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Ticket.AssignedUser.DisplayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Property)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OldValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChangedDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Ticket.AssignedUser.DisplayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Property)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OldValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NewValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ChangedDate)
        </td>
        
    </tr>
}
    <p>
        @Html.ActionLink("Back to List", "Index","Tickets")
    </p>

</table>
